/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 75, ../_sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-weight: bold;
}

/* line 94, ../_sass/_typography.scss */
.tera {
  font-size: 78px;
  font-size: 6.5rem;
  margin-bottom: 0.21538rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .tera {
  margin-top: 0.21538rem;
  margin-bottom: 0.10769rem;
}

/* line 94, ../_sass/_typography.scss */
.giga {
  font-size: 60px;
  font-size: 5rem;
  margin-bottom: 0.28rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .giga {
  margin-top: 0.28rem;
  margin-bottom: 0.14rem;
}

/* line 94, ../_sass/_typography.scss */
.mega {
  font-size: 48px;
  font-size: 4rem;
  margin-bottom: 0.35rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .mega {
  margin-top: 0.35rem;
  margin-bottom: 0.175rem;
}

/* line 94, ../_sass/_typography.scss */
.alpha {
  font-size: 39.9996px;
  font-size: 3.3333rem;
  margin-bottom: 0.42rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .alpha {
  margin-top: 0.42rem;
  margin-bottom: 0.21rem;
}

/* line 94, ../_sass/_typography.scss */
.beta {
  font-size: 32.0004px;
  font-size: 2.6667rem;
  margin-bottom: 0.52499rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .beta {
  margin-top: 0.52499rem;
  margin-bottom: 0.2625rem;
}

/* line 94, ../_sass/_typography.scss */
.gamma, h1 {
  font-size: 24px;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .gamma, .user-content h1 {
  margin-top: 0.7rem;
  margin-bottom: 0.35rem;
}

/* line 94, ../_sass/_typography.scss */
.delta, h2 {
  font-size: 15.9996px;
  font-size: 1.3333rem;
  margin-bottom: 1.05003rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .delta, .user-content h2 {
  margin-top: 1.05003rem;
  margin-bottom: 0.52501rem;
}

/* line 94, ../_sass/_typography.scss */
.epsilon, h3, h4 {
  font-size: 14.0004px;
  font-size: 1.1667rem;
  margin-bottom: 1.19997rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .epsilon, .user-content h3, .user-content h4 {
  margin-top: 1.19997rem;
  margin-bottom: 0.59998rem;
}

/* line 94, ../_sass/_typography.scss */
.zeta, h5, h6 {
  font-size: 12px;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}
/* line 67, ../_sass/_typography.scss */
.user-content .zeta, .user-content h5, .user-content h6 {
  margin-top: 1.4rem;
  margin-bottom: 0.7rem;
}

/* line 1, ../_sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../_sass/_base.scss */
body {
  color: #333;
  font: 17.5px 'Open Sans', sans-serif;
  padding: 1.61803em;
}
@media (min-width: 580px) {
  /* line 7, ../_sass/_base.scss */
  body {
    padding: 0;
  }
}

/* line 17, ../_sass/_base.scss */
p {
  line-height: 1.61803em;
  margin-bottom: 0.61803em;
}

/* line 24, ../_sass/_base.scss */
header,
footer,
article {
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 580px) {
  /* line 24, ../_sass/_base.scss */
  header,
  footer,
  article {
    max-width: 580px;
  }
}
@media (min-width: 740px) {
  /* line 24, ../_sass/_base.scss */
  header,
  footer,
  article {
    max-width: 740px;
  }
}
@media (min-width: 964px) {
  /* line 24, ../_sass/_base.scss */
  header,
  footer,
  article {
    max-width: 964px;
  }
}

/* line 41, ../_sass/_base.scss */
pre {
  margin-bottom: 0.61803em;
}
/* line 44, ../_sass/_base.scss */
pre code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

/* line 49, ../_sass/_base.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 53, ../_sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 3, ../_sass/_header.scss */
header img,
header p {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 7, ../_sass/_header.scss */
header h1 {
  padding: 0.61803em 0;
}
/* line 11, ../_sass/_header.scss */
header img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: green;
  max-width: 100px;
}
/* line 17, ../_sass/_header.scss */
header p {
  max-width: calc(100% - 100px);
  padding: 0 0.61803em;
}

/* line 3, ../_sass/_main.scss */
header h1 a:hover {
  color: #1295cc;
  text-decoration: none;
}

/* line 9, ../_sass/_main.scss */
article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.61803em;
}
/* line 13, ../_sass/_main.scss */
article .content {
  padding: 0 0 1.61803em 0;
}
/* line 17, ../_sass/_main.scss */
article .date {
  display: block;
  font-weight: bold;
  margin: 0 0 0.61803em;
}
/* line 23, ../_sass/_main.scss */
article h2, article a {
  color: #1295cc;
}
/* line 27, ../_sass/_main.scss */
article a {
  font-weight: bold;
  text-decoration: none;
}

/* line 33, ../_sass/_main.scss */
.lost {
  border: 0 none;
  padding: 1.61803em 0;
  text-align: center;
}
/* line 38, ../_sass/_main.scss */
.lost img {
  padding: 1.61803em 0;
}
